A {
  text-decoration: none
}

A:link {
  color: blue
}

A:visited {
  color: navy
}

A:active {
  color: red
}

A:hover {
  text-decoration: underline
}

body {
  font-family: Verdana, Arial, Helvetica, Times, serif;
}

table {
  border-collapse: collapse;
}

.warning {
  background-color: red;
  background-size: contain;
  background-position: center;
  color: yellow;
}

.success {
  background-color: green;
  color: black;
}

.preFormatted {
  white-space: pre-wrap;
  font-family: monospace;
}

input[type='text'] {
  font-size: 1.5em;
}
